<div class="highlight {% if link %}js-allclick highlight--hover{% endif %}">
  <div class="highlight__ico">
    <svg><use xlink:href="/{{ active_theme_path() }}/images/svg/sprite.svg#{{ icon }}"></use></svg>
  </div>
  <h3 class="highlight__title">{{ title }}</h3>
  <div class="highlight__text">{{ text }}</div>
  {% if link %}
    <a href="{{ link }}" class="highlight__link">
      <svg><use xlink:href="/{{ active_theme_path() }}/images/svg/sprite.svg#arrow"></use></svg>
    </a>
  {% endif %}
</div>