<div class="cta">
  <div class="cta__ico">
    <svg><use xlink:href="/{{ active_theme_path() }}/images/svg/sprite.svg#{{ icon }}"></use></svg>
  </div>
  <div class="cta__text">
    <h3 class="cta__title">{{ title }}</h3>
    <div class="cta__p">{{ text }}</div>
    <a href="{{ link.0.url }}" class="button button--blue">{{ link.0.title }}</a>
  </div>
</div>