<div class="prod-card">
  {% if image %}
    <div class="prod-card__title">{{ title }}</div>
  {% endif %}
  <div class="grid grid--gutters">
    <div class="grid-cell grid-cell--1-1 grid-cell--1-2@sm">
      {% if not image %}
        <div class="prod-card__title">{{ title }}</div>
      {% endif %}
      {{ image }}
      {% if link %}
        {% include "@components/simple-button.twig" with {
          'h_align': 'align-left',
          'color': 'orange',
          'label': linkLabel,
          'url': link,
          'type': 'link',
        } %}
      {% endif %}
    </div>
    <div class="grid-cell grid-cell--1-1 grid-cell--1-2@sm">
      {% if categories %}
        <ul class="prod-card__cats">
          {% for item in categories %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="tinytext">
        {{ text }}
      </div>
    </div>
  </div>
</div>